In [62]:
# Jupyter notebook to analyze datasets to be used for machine learning training of models, and model scoring

# import Pandas library to manipulate datasets
import pandas as pd
import numpy as np

pd.set_option('display.max_columns',None)

In [63]:
# load training dataset of bank marketing promotions and whether customers' accepted the offer 
df = pd.read_csv('./sets/market_train.csv',sep=",", encoding = "utf-8", low_memory=False)

In [64]:
# load training dataset of telco customers and whether they churned 
#df = pd.read_csv('./sets/customer_churn_train.csv',sep=",", encoding = "utf-8", low_memory=False)
#df2 = pd.read_csv('./sets/customer_churn_test.csv',sep=",", encoding = "utf-8", low_memory=False)
df = pd.read_csv('./sets/customer_churn_train.csv',sep=",", encoding = "utf-8", low_memory=False)

In [21]:
# merge datasets
df_both = pd.concat([df,df2])

In [47]:
# num of rows
df_both.shape

(3333, 21)

In [25]:
# write dataframe to csv
df_both.to_csv('./sets/customer_churn.csv',index=False,sep=',')

In [65]:
# how many rows
df.shape

(2998, 21)

In [55]:
df2.shape

(335, 21)

In [66]:
# list out the columns
list(df)

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [67]:
# show first few rows
df.head(5)

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [50]:
# How many instances of offer accepted
df['responded'].value_counts()

no     6574
yes     840
Name: responded, dtype: int64

In [16]:
# How many instances of Churn
df['Churn?'].value_counts()

False.    2562
True.      436
Name: Churn?, dtype: int64

In [19]:
# drop columns not needed for training
df=df.drop(['Area Code','Phone'],axis=1)

In [35]:
# create a random train test ( 20 percent ) split
msk = np.random.rand(len(df)) < 0.20
train = df[~msk]
test = df[msk]

In [36]:
train.shape

(2664, 21)

In [37]:
test.shape

(669, 21)